.side-bar {
    background-color: #232323;
    display: block;
    position: fixed;
    height: 100%;
    width: 200px;
}
.side-bar-list {
    float: left;
    list-style: none;
   
}
.side-bar-item {
    text-decoration: none;
    padding:8px 8px 0px 0px;
    margin-top: 20px;
    margin-left: 30px;
  font-size: 25px;
  color: #818181;
  display: block;
  border-bottom: 2px solid #818181;   
}
.side-bar-item:hover{
    color: white;
    transition: 0.3s;
}
.side-bar-item:active{
    transform: scale(0.96); 
}
.home {
    margin-left: 200px;
    background-color: thistle;
    display: block;
   
}
.responsive{
    margin-top: 20px;
    padding: 0 6px;
    float: right;
    width: 25%
} 
div.gallery {
    border: 2px solid #ccc;
   

  }
  
div.gallery:hover {
    border: 2px solid #1b1a1a;
  }
  
  div.gallery img {
    width: 100%;
height: auto;  }
  
  div.desc {
    text-align: center;
    margin: auto;
    padding: 15px;
    overflow-wrap: break-word;
  }
    
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
.content{
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}