.App-header {
    background: slategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    z-index: 1;
    width: 100%;
    min-height: 50px;
    position: sticky;
    top: 0;
    left: 0;
  }
  .navbar-link {
    display: flex;
    list-style: none;
  }
  
  .navbar-link-item {
      text-decoration: none;
   margin: 5px 20px 5px 0;
   padding: 5px 30px;
   font-size: 18px;
    cursor: pointer;
    color:black;
    border: 1px solid black;
    border-radius: 4px;
  }
  .navbar-link-item:hover{
      border-radius: 4px;
      background-color: #222;
      color: aliceblue;  
      transition: 0.2s all; 
  }
  .navbar-link-item:active{
    transform: scale(0.9); 
     
  }
 
  
  